<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Test Push Notifications"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<setAttribute key="deselected_workspace_bundles">
<setEntry value="org.apache.oltu"/>
<setEntry value="org.condast.commons.authentication.ui"/>
<setEntry value="org.condast.commons.bugzilla"/>
<setEntry value="org.condast.commons.data"/>
<setEntry value="org.condast.commons.legal"/>
<setEntry value="org.condast.commons.tinkerpop"/>
<setEntry value="org.condast.commons.ui"/>
<setEntry value="org.condast.js.bootstrap"/>
<setEntry value="org.condast.js.react"/>
<setEntry value="org.covaid.commons.support"/>
<setEntry value="org.covaid.core"/>
<setEntry value="org.covaid.dashboard"/>
<setEntry value="org.covaid.mobile"/>
<setEntry value="org.covaid.orientdb"/>
<setEntry value="org.covaid.rest"/>
<setEntry value="org.covaid.ui"/>
<setEntry value="org.google.geo.mapping.ui"/>
<setEntry value="org.openlayer.map"/>
<setEntry value="test.condast.com"/>
<setEntry value="test.covaid.core"/>
<setEntry value="test.covaid.mobile"/>
</setAttribute>
<booleanAttribute key="includeOptional" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true&#13;&#10;-Dorg.eclipse.equinox.http.jetty.log.stderr.threshold=info&#13;&#10;-Djetty.home.bundle=org.eclipse.jetty.osgi.boot&#13;&#10;-Djetty.port=10080"/>
<stringAttribute key="pde.version" value="3.3"/>
<setAttribute key="selected_target_bundles">
<setEntry value="com.google.gson@default:default"/>
<setEntry value="com.ibm.icu.source"/>
<setEntry value="commonj.sdo.source"/>
<setEntry value="javax.activation@default:default"/>
<setEntry value="javax.persistence.source"/>
<setEntry value="javax.persistence@default:default"/>
<setEntry value="javax.servlet@default:default"/>
<setEntry value="javax.transaction@default:false"/>
<setEntry value="javax.ws.rs@default:default"/>
<setEntry value="org.apache.commons.codec*1.10.0.v20151023-1447@default:default"/>
<setEntry value="org.apache.commons.fileupload@default:default"/>
<setEntry value="org.apache.commons.io@default:default"/>
<setEntry value="org.apache.commons.logging@default:default"/>
<setEntry value="org.apache.felix.gogo.command@default:default"/>
<setEntry value="org.apache.felix.gogo.runtime@default:default"/>
<setEntry value="org.apache.felix.gogo.shell@default:default"/>
<setEntry value="org.apache.felix.scr@1:true"/>
<setEntry value="org.eclipse.core.commands@default:default"/>
<setEntry value="org.eclipse.core.contenttype@default:default"/>
<setEntry value="org.eclipse.core.jobs@default:default"/>
<setEntry value="org.eclipse.core.runtime@default:true"/>
<setEntry value="org.eclipse.equinox.app@default:default"/>
<setEntry value="org.eclipse.equinox.common@2:true"/>
<setEntry value="org.eclipse.equinox.console@default:default"/>
<setEntry value="org.eclipse.equinox.ds@1:true"/>
<setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
<setEntry value="org.eclipse.equinox.http.registry@default:default"/>
<setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
<setEntry value="org.eclipse.equinox.p2.core.source"/>
<setEntry value="org.eclipse.equinox.p2.director.source"/>
<setEntry value="org.eclipse.equinox.p2.engine.source"/>
<setEntry value="org.eclipse.equinox.p2.metadata.repository.source"/>
<setEntry value="org.eclipse.equinox.p2.metadata.source"/>
<setEntry value="org.eclipse.equinox.p2.operations.source"/>
<setEntry value="org.eclipse.equinox.p2.repository.source"/>
<setEntry value="org.eclipse.equinox.preferences@default:default"/>
<setEntry value="org.eclipse.equinox.region@default:default"/>
<setEntry value="org.eclipse.equinox.registry@default:default"/>
<setEntry value="org.eclipse.equinox.security@default:default"/>
<setEntry value="org.eclipse.equinox.util@default:default"/>
<setEntry value="org.eclipse.jetty.continuation@default:default"/>
<setEntry value="org.eclipse.jetty.deploy@default:default"/>
<setEntry value="org.eclipse.jetty.http@default:default"/>
<setEntry value="org.eclipse.jetty.io@default:default"/>
<setEntry value="org.eclipse.jetty.osgi.boot@default:default"/>
<setEntry value="org.eclipse.jetty.security@default:default"/>
<setEntry value="org.eclipse.jetty.server@default:default"/>
<setEntry value="org.eclipse.jetty.servlet@default:default"/>
<setEntry value="org.eclipse.jetty.util@default:default"/>
<setEntry value="org.eclipse.jetty.webapp@default:default"/>
<setEntry value="org.eclipse.jetty.xml@default:default"/>
<setEntry value="org.eclipse.orbit.mongodb.source"/>
<setEntry value="org.eclipse.osgi.services.source"/>
<setEntry value="org.eclipse.osgi.services@default:default"/>
<setEntry value="org.eclipse.osgi.util@default:default"/>
<setEntry value="org.eclipse.osgi@-1:true"/>
<setEntry value="org.eclipse.persistence.antlr.source"/>
<setEntry value="org.eclipse.persistence.asm.source"/>
<setEntry value="org.eclipse.persistence.core.source"/>
<setEntry value="org.eclipse.persistence.dbws.builder.source"/>
<setEntry value="org.eclipse.persistence.dbws.source"/>
<setEntry value="org.eclipse.persistence.extension.source"/>
<setEntry value="org.eclipse.persistence.jpa.jpql.source"/>
<setEntry value="org.eclipse.persistence.jpa.modelgen"/>
<setEntry value="org.eclipse.persistence.jpa.modelgen.source"/>
<setEntry value="org.eclipse.persistence.jpa.source"/>
<setEntry value="org.eclipse.persistence.jpars.source"/>
<setEntry value="org.eclipse.persistence.moxy.source"/>
<setEntry value="org.eclipse.persistence.nosql.source"/>
<setEntry value="org.eclipse.persistence.oracle.nosql.source"/>
<setEntry value="org.eclipse.persistence.oracle.source"/>
<setEntry value="org.eclipse.persistence.oracleddlparser.source"/>
<setEntry value="org.eclipse.persistence.sdo.source"/>
<setEntry value="org.eclipse.rap.jface.source"/>
<setEntry value="org.eclipse.rap.jface@default:default"/>
<setEntry value="org.eclipse.rap.nebula.widgets.richtext.source"/>
<setEntry value="org.eclipse.rap.rwt.osgi.source"/>
<setEntry value="org.eclipse.rap.rwt.source"/>
<setEntry value="org.eclipse.rap.rwt@default:default"/>
<setEntry value="org.slf4j.api.source"/>
<setEntry value="org.slf4j.api@default:default"/>
</setAttribute>
<setAttribute key="selected_workspace_bundles">
<setEntry value="nl.martijndwars.webpush@default:default"/>
<setEntry value="org.condast.commons.authentication@default:default"/>
<setEntry value="org.condast.commons.messaging@default:default"/>
<setEntry value="org.condast.commons.persistence@default:default"/>
<setEntry value="org.condast.commons.test@default:default"/>
<setEntry value="org.condast.commons@default:default"/>
<setEntry value="org.condast.js.commons@default:default"/>
<setEntry value="test.condast.commons.js.push@default:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
