<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/react"
            base-name="/web">
      </resource>
      <resource
            alias="/reactresources"
            base-name="/resources">
      </resource>
   </extension>
 </plugin>
