<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="commons-js-maven.target" sequenceNumber="254">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/rt/rap/4.6"/>
		<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="4.6.0.20260303-1200"/>
		<unit id="org.eclipse.rap.examples.feature.feature.group" version="4.6.0.20260303-1200"/>
		<unit id="org.eclipse.rap.feature.feature.group" version="4.6.0.20260303-1200"/>
		<unit id="org.eclipse.rap.sdk.feature.feature.group" version="4.6.0.20260303-1200"/>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.google.code.gson</groupId>
				<artifactId>gson</artifactId>
				<version>2.14.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-codec</groupId>
				<artifactId>commons-codec</artifactId>
				<version>1.22.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.activation</groupId>
				<artifactId>jakarta.activation-api</artifactId>
				<version>2.2.0-M2</version>
				<type>jar</type>
			</dependency>
			<!-- Source: https://mvnrepository.com/artifact/jakarta.annotation/jakarta.annotation-api -->
			<dependency>
			    <groupId>jakarta.annotation</groupId>
			    <artifactId>jakarta.annotation-api</artifactId>
			    <version>3.0.0</version>
			    <scope>compile</scope>
			</dependency>
			<!-- Source: https://mvnrepository.com/artifact/jakarta.inject/jakarta.inject-api -->
			<dependency>
			    <groupId>jakarta.inject</groupId>
			    <artifactId>jakarta.inject-api</artifactId>
			    <version>2.0.1</version>
			    <scope>compile</scope>
			</dependency>
			<dependency>
				<groupId>jakarta.mail</groupId>
				<artifactId>jakarta.mail-api</artifactId>
				<version>2.2.0-M1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.persistence</groupId>
				<artifactId>jakarta.persistence-api</artifactId>
				<version>4.0.0-M7</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.ws.rs</groupId>
				<artifactId>jakarta.ws.rs-api</artifactId>
				<version>4.0.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.felix</groupId>
				<artifactId>org.apache.felix.http.servlet-api</artifactId>
				<version>6.1.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.platform</groupId>
				<artifactId>org.eclipse.equinox.security</artifactId>
				<version>1.4.700</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.freemarker</groupId>
				<artifactId>freemarker</artifactId>
				<version>2.3.35</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.core</groupId>
				<artifactId>jersey-common</artifactId>
				<version>5.0.0-M1</version>
				<type>jar</type>
			</dependency>
			<!-- Source: https://mvnrepository.com/artifact/org.glassfish.jersey.core/jersey-client -->
			<dependency>
			    <groupId>org.glassfish.jersey.core</groupId>
			    <artifactId>jersey-client</artifactId>
			    <version>5.0.0-M1</version>
			    <scope>compile</scope>
			</dependency>
			<!-- Source: https://mvnrepository.com/artifact/org.glassfish.jersey.containers/jersey-container-servlet -->
			<dependency>
			    <groupId>org.glassfish.jersey.containers</groupId>
			    <artifactId>jersey-container-servlet</artifactId>
			    <version>5.0.0-M1</version>
			    <scope>compile</scope>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.core</groupId>
				<artifactId>jersey-server</artifactId>
				<version>5.0.0-M1</version>
				<type>jar</type>
			</dependency>
			<!-- Source: https://mvnrepository.com/artifact/org.glassfish.hk2/osgi-resource-locator -->
			<dependency>
			    <groupId>org.glassfish.hk2</groupId>
			    <artifactId>osgi-resource-locator</artifactId>
			    <version>3.0.0</version>
			    <scope>compile</scope>
			</dependency>
			<dependency>
				<groupId>org.osgi</groupId>
				<artifactId>org.osgi.service.http.whiteboard</artifactId>
				<version>1.1.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
</target>