<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/openlayer"
            base-name="/web">
      </resource>
   </extension>
   <extension
         id="mapFilter"
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/openlayer"
            class="org.openlayer.map.servlet.MapFilter">
         <init-param
               name="testParam"
               value="test param value">
         </init-param>
      </filter>
    </extension> 
</plugin>