<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Parse Community"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="deselected_workspace_plugins" value="nl.cultuurinzicht.admin,nl.cultuurinzicht.admin.test,nl.cultuurinzicht.vastegast,nl.cultuurinzicht.vastegast.profile,nl.eetmee.commons,nl.eetmee.commons.mailing,nl.eetmee.commons.profile,nl.eetmee.vastegast.matching,nl.eetmee.vastegast.servlet,org.condast.birt.webviewer,org.condast.commons.authentication,org.condast.commons.authentication.ui,org.condast.commons.bugzilla,org.condast.commons.data,org.condast.commons.legal,org.condast.commons.messaging,org.condast.commons.na,org.condast.commons.persistence,org.condast.commons.test,org.condast.commons.ui,org.condast.js.commons,org.condast.na,org.condast.na.test,org.condast.postcode.api,org.condast.reporting,org.google.geo.mapping,org.google.geo.mapping.ui,test.condast.commons,test.condast.commons.js.rcp,test.condast.commons.messaging,test.eetmee.matching.quality,test.eetmee.rcp,test.nl.eetmee.matching,test.nl.eetmee.profile,test.nl.eetmee.qualities,test.nl.eetmee.vastegast"/>
<booleanAttribute key="includeOptional" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="target_bundles" value="com.google.gson@default:default,javax.servlet*3.1.0.20170128@default:default,javax.transaction*1.1.1.v201105210645@default:false,javax.xml@default:default,org.apache.felix.gogo.command@default:default,org.apache.felix.gogo.runtime@default:default,org.apache.felix.gogo.shell@default:default,org.eclipse.core.jobs@default:default,org.eclipse.equinox.common@2:true,org.eclipse.equinox.console@default:default,org.eclipse.equinox.ds@1:true,org.eclipse.equinox.preferences@default:default,org.eclipse.equinox.registry@default:default,org.eclipse.equinox.util@default:default,org.eclipse.osgi.services*3.5.0.v20150519-2006@default:default,org.eclipse.osgi@-1:true,org.eclipse.rap.rwt@default:default"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="workspace_bundles" value="org.condast.commons@default:default,test.condast.community@default:default"/>
</launchConfiguration>
