<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/youtube"
            base-name="/web">
      </resource>
      <resource
            alias="/ytresources"
            base-name="/resources">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/youtube/servlet"
            class="org.youtube.player.servlet.YouTubeServlet">
      </servlet>
   </extension>
 </plugin>
